*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
build

dist/
MANIFEST
*.pdf
pip-log.txt
pyefs.egg-info/

*.nt.bz2
*.tar.gz
*.tgz

*.prefs
.pydevproject
.idea
.vscode

*.c
*.cpp

!/**/src/**/*.c
!/**/src/**/*.cpp
*.sln
*.pyproj

# Used by py.test
.cache
.pytest_cache/
_configtest.o.d

# Used by mypy
.mypy_cache/